[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask_cors = "*"
pymongo = "*"
SpeechRecognition = "*"
pydub = "*"
pocketsphinx = "*"
tomli = "*"  # Ensure this line is added
dill = "*"
pytest = "*"
pytest-flask = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
ffmpeg-check = "echo 'Ensure FFmpeg is installed: ffmpeg -version && ffprobe -version'"
