[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask_cors = "*"
pymongo = "*"
python-dotenv = "*"
typing-extensions = "*"
tomli = "*"  # Added tomli to resolve the pylint dependency issue

[dev-packages]

[requires]
python_version = "3"
