[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask_cors = "*"
pymongo = "*"
python-dotenv = "*"
typing-extensions = "*"
pytest = "*"
pytest-flask = "*"
tomli = "*"  # Ensure this line is added
flask-login = "*"
flask-pymongo = "*"
coverage = "*"
flask_pymongo = "*"

[dev-packages]

[requires]
python_version = "3"
